/*TODO 後でコンポーネント単位に分ける*/
html {
  margin: 0;
  padding: 0;
}

/*Common Styles*/
body {
  width: 100%;
  font-size: 16px;
  background-color: #fcfaef !important;
}

.container {
  margin-top: 40px;
  font-family: Avenir;
}

a {
  text-decoration: none !important;
}

nav {
  background-image: linear-gradient(45deg, #d3504a 0%, #a63636 100%);
}

nav .logo {
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: 'Nothing You Could Do', cursive;
  color: #fff;
}

nav ul {
  font-family: Avenir;
}

/*Top Styles*/
.top header {
  position: fixed;
  z-index: 1;
  padding: 1.3rem 2rem 1rem 2rem;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  color: #fff;
}

.top header h1 {
  font-size: 4rem;
}

.top .content {
  position: relative;
}

.top  .content .service-description {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 15%;
  font-family: 'Nothing You Could Do', cursive;
  color: #fff;
}

.top  .content .service-description h2 {
  font-size: 3rem;
  font-weight: bold;
}

.top  .content .service-description p {
  font-size: 2rem;
  font-weight: bold;
}

/*TopSlider Styles*/
.top-slider {
  width: 100%;
  margin-bottom: 80px;
}

.top-slider .slick-list {
}

.top-slider img {
  margin: auto;
}

/*SimpleButton Styles*/
.login-button-wrapper {
  position: absolute;
  top: 40%;
  right: 22%;
}
.login-button-wrapper .login-button {
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: #d3504a;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  border: solid 2px #fff;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  font-size: 1.2rem;
}

.login-button-wrapper .login-button:hover {
  background-color: #a63636;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.084);
}

.login-button-wrapper .login-button img {
  width: 24px;
  margin-right: .3rem;
  vertical-align: middle;
}